<ul class="list-group">
  {% if cats %}
    {% for c in cats %}
      {% if c == act_cat %}
        <li class="list-group-item">
          <strong><a href="{% url 'show_category' c.slug %}">{{ c.name }}</a></strong>
        </li>
      {% else %}
        <li class="list-group-item">
          <a href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
  {% else %}
    <li class="list-group-item"> <strong> There are no categories present.</strong></li>
  {% endif %}

</ul>
